/art/art.userprefs
/art/Assembly-CSharp.csproj
/art/Assembly-CSharp-Editor.csproj
/art/Assembly-CSharp-firstpass.csproj
/art/Packages
/art/ProjectSettings
/art/Temp
/art/art.csproj
/art/art.Editor.csproj
/art/art.Editor.Plugins.csproj
/art/art.Plugins.csproj
/art/Library
/art/.vs
